.grid{
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding: 0;

}

.div__texto{
    align: justify;
    background-color: #f7f5d5;
    overflow-x: hidden;
}

.nuestrosClientes{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 0;  
    background-color: #f7f5d5;
    padding: 0 1rem 0 0;
    margin: 0;
    h2{
        font-size: 4rem;
        padding: .5rem;
        text:{
            transform: uppercase;
            align: center;
        }
    }
    p{
        text-align: justify;
    }
}

.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.grid__elemento img{
    margin: 0;
    max-width: fit-content;
    padding: 2rem;
}

.particion{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #e4e3e3;
    div{
        width: 100%;
        height: auto;
    }
}

.particion__video{ 
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 2rem 1rem;
    iframe{
        width: 100%;
        height: auto;
    }
}

.particion__componentes{
    padding-left: 2rem;
    div{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    h2{
        text:{
            align:left;
            transform: uppercase;
        }
        font:{
            size: 4rem;
            weight: 300;
        }
        margin-top: 1rem;
    }
    h3{
        text:{
            align:left;
        }
        font:{
            weight: 600;
        }
        margin-bottom: 4rem;
    }
    p{
        text:{
            align:justify;
        }
        margin: 1rem 3rem 1rem 0rem;
    }
    section{
        margin: 2rem 3rem 2rem 0;
    }
    button{
        border: 0.1rem solid #000;
        padding: 1rem 4rem; 
        background-color: #ffffff;
        cursor: pointer;
    }
}

.boton{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

@media (min-width: 480px){
    .particion{
        display: flex;
        flex-direction: column;
    }
    .particion__video{
        iframe{
            width: 100%;
        }
    }
    .grid__elemento{
        margin: 1rem;
        padding: 1rem;
    }
    .particion{
        margin: 1rem 0 0 0;
    }
    .boton{
        margin: 1rem;
        padding: 0;
    }
}

@media (min-width: 1200px){
    .particion{
        display: flex;
        flex-direction: row;
    }
}
