.section__principal{
    background-color: #616060;
}
.div__texto{
    background-color: #fff;
}

.grid__elementos img{
    max-width: fit-content;
    width: 100%;
    height: 100%;
}

.particion{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #e4e3e3;
    div{
        width: 100%;
        height: auto;
    }
}

.particion__componentes{
    padding-left: 2rem;
    div{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    h2{
        text:{
            align:left;
            transform: uppercase;
        }
        font:{
            size: 4rem;
            weight: 300;
        }
        margin-top: 1rem;
    }
    h3{
        text:{
            align:left;
        }
        font:{
            weight: 600;
        }
        margin-bottom: 4rem;
    }
    p{
        text:{
            text-align:justify;
        }
        margin: 1rem 3rem 1rem 0rem;
    }
    section{
        margin: 2rem 3rem 2rem 0;
    }
    button{
        border: 0.1rem solid #000;
        padding: 1rem 4rem; 
        background-color: #ffffff;
        cursor: pointer;
    }
}

.boton{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

/*                      MEDIAS QUERIES                */

@media (min-width: 480px){
    .particion{
        display: flex;
        flex-direction: column;
    }

    .particion__video{
        iframe{
            width: 100%;
            height: 40rem;
        }
    }

    .grid__elementos{
        padding: 1rem;
    }

    .particion{
        margin: 1rem 0 0 0;
    }
    
    .boton{
        margin: 1rem;
        padding: 0;
    }

    .nuestrosClientes{
        display: flex;
        flex-direction: column;
        h2{
            font-size: 4rem;
            padding: 1rem 2rem 0 2rem;
            text:{
                transform: uppercase;
                align: left;
            }
        }
        p{
            text-align: justify;
            padding: 0 2rem;
        }
    }

    .grid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #fff;
    }
}

@media (min-width: 840px){
    .grid{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: 1200px){
    .particion{
        display: flex;
        flex-direction: row;
    }

    .nuestrosClientes{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 0;  
        background-color: #fff;
        padding: 0 2rem;
        margin: 0;
        h2{
            font-size: 4rem;
            padding: .5rem;
            text:{
                transform: uppercase;
                align: left;
            }
        }
        p{
            text-align: justify;
        }
    }
    
    .div__texto{
        padding: 0 2rem 0 0;
    }

    .grid{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 0;
    }

    .particion__video{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem 1rem;
    }

    #logo{
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
}

@media (min-width: 1400px){
    .grid{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 0;
    }
}