/* MAPS */

$mapRedes:(facebook:#af2525, instagram:#149999, twitter:#016d01);

@each $red, $color in $mapRedes {
    .#{$red}--page {
        color: $color;
    }
}

/* MAP GET */
$style:(
    color: #f7f5d5,
    tamFuente:3rem,
);

.mapGet{
    background-color:map-get($style, color);
    font-size: map-get($style, tamFuente);
}