.linea{
    border: .1rem solid #000;
    margin:1rem 0;
}


.quienesSomos2{
    background-color: #8b8b97;
    display: grid;
    grid-template-columns: 50% 50%;
    div{
        width: 100%;
        height: max-content;
    }
    img{
        width: 100%;
        height:auto;
    }
    h2{
        font-size: 3rem;
        padding:2rem;
        color: #ffa031;
    }
    p{
        text-align: justify;
        margin: 0 2rem;
        color: #fff;
    }
    h3{
        color: #000;
        padding: .5rem;
        font-size: 2.4rem;
    }
    li{
        color: #ffa031;
        list-style-type:disc;
        margin-left: 2rem;
    }
}

.linea2{
    border: .1rem solid #000;
    margin: 2rem 10rem;
}

#idea{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.gridNosotros{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(1, 1fr);
    background-color: #e4e3e3;
    padding: 1rem 0;
    div{
        width: 50%;
    }
}
.persona{
    display: flex;
    flex-direction: column;
    p{

    }
}

/*           MEDIAS QUERIES            */

@media (min-width:480px){
    .quienesSomos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;
        p{
            text:{
                align:justify;
            }
        }
        iframe{
            width: 100%;
        }
    }

    .quienesSomos2{
        display: flex;
        flex-direction: column;
        h2{
            padding: 2rem 0 1rem 0;
        }
        img{
            margin: 1rem 0;
        }
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #esconder2{
            display: none;
        }
    }

    .gridNosotros{
        display: flex;
        flex-direction: column;
        div{
            width: 100%;
            padding: 1rem;
        }
        h2{
            font-weight: bold;
        }
        img{
            width: 100%;
            border: .1rem solid #000;
        }
        p{
            text-align: justify;
        }
    }

    #idea{
        margin: 2rem 0 1rem 0;
    }

}

@media (min-width: 786px){
    /* La foto de las personas en display flex row */
    .gridNosotros{
        display: flex;
        flex-direction: row;
    }
    #ricky{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width:1200px){
    .quienesSomos{
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 1rem 0 1rem 0;
        p{
            text-align: justify;
            font-size: 2.4rem;
            margin: 0 1rem 0 0;
        }
        iframe{
            width: 100%;
            height: 100%;
        }
    }

    .quienesSomos2{
        background-color: #8d8c8c;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        div{
            width: 100%;
            height: max-content;
        }
        img{
            width: 100%;
            height:auto;

        }
        h2{
            font-size: 3rem;
            padding:2rem;
            color: #000;
        }
        p{
            text-align: justify;
            margin: 0 2rem;
            color: #ffffff;
        }
        h3{
            color: #000;
            padding: .5rem;
            font-size: 2.4rem;
            font-weight: 600;
        }
        li{
            color: #ffa031;
            list-style-type:disc;
            margin-left: 2rem;
            font-weight: 600;
        
        }
        #esconder2{
            display:inline-block;
        }
        #esconder1{
            display: none;
        }
    }
    #ricky{
        width: 50%;
    }
}
