
.proceso{
    width: 100%;
    margin: none;
    h2{
        text-transform: uppercase;
        font-weight: 600;
    }
}

.proceso__etapas__1{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-column-gap: 1rem;
    margin: 0 0 2rem 0;
    h3{
        font-size: 4rem;
    }
    p{
        text-align: justify;
    }
}
.proceso__etapas__h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: .1rem solid #000;
    background-color: #868686;
    color: #fff;
    text-transform: uppercase;
}

.proceso__etapas__2{
    @extend .proceso__etapas__1;
    grid-template-columns: 75% 25%;
}

.carousel__inner__div{
    color: #fff;
    font-weight: bold;   
}

.carousel{
    margin-bottom: 2rem;
}


