/*              Body Main            */

.nav__proyectos__dropdown{
    position: relative;
}
.nav__proyectos__dropdown div{
    position: absolute;
}

.titulo{
    padding: 2rem;
    margin: 2rem;
    background-color: red;
}

