@import "variables";
@import "condicionales";
@import "contacto";
@import "clientes";
@import "proyectos";
@import "nosotros";

/* Resets */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #e4e3e3;
    font-size: 2rem;
}
h1, h2, h3, p {
    text-align: center;
}


/*                  NAV BAR                */
.navbar a:hover{
    text-decoration: underline;
}
.navbar a:focus{
    border: .1rem solid#000;
}

.navbar{
    padding: 1.5rem;
    border-bottom: 1px solid #000;
}

.dropdown-item{
    font-size: larger;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

#logo{
    width: 20rem;
}


/*                 Body Main              */

.bodyDecoration{
    background-color: #e4e3e3;
}

.nav__proyectos__dropdown{
    position: relative;
}
.nav__proyectos__dropdown div{
    position: relative;
    z-index: 100;
}

.titulo{
    padding: 1rem;
    margin: 1rem;
    h1{
        font-size: 5rem;
    }
}

/*Animación en el Body Main*/

.titulo__h1{
    width: 100%;
    height: auto;
    animation-name: transparencyandsize;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 6s;
    animation-delay: 5s;
}

@keyframes transparencyandsize{
    0%{
        width: 0%;
        opacity: 0%;
    }
    40%{
        width: 100%;
    }
    50%{
        opacity: 100%;
        width: 100%;
    }
    60%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}


/*               Footer                  */
.footer{
    background-color: #fff;
    border-top: .1rem solid #000;
    footer{
        display: grid;
        grid-template-columns: 70% 30%;
    }
        h2{
            background-color: #fff;
            padding: 2rem;  
        }
}
#map{
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: right;
}