@import "variables";
@import "condicionales";
@import "contacto";
@import "clientes";
@import "proyectos";
@import "nosotros";



/*                  NAV BAR                */
.navbar a:hover{
    text-decoration: underline;
}
.navbar a:focus{
    border: .1rem solid#000;
}

/*                 Body Main              */

.nav__proyectos__dropdown{
    position: relative;
}
.nav__proyectos__dropdown div{
    position: relative;
    z-index: 100;
}

.titulo{
    padding: 1rem;
    margin: 1rem;
    h1{
        font-size: 5rem;
    }
}

/*Animación en el Body Main*/

.titulo__h1{
    width: 100%;
    height: auto;
    animation-name: transparencyandsize;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 6s;
    animation-delay: 5s;
}

@keyframes transparencyandsize{
    0%{
        width: 0%;
        opacity: 0%;
    }
    40%{
        width: 100%;
    }
    50%{
        opacity: 100%;
        width: 100%;
    }
    60%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}


