@charset "UTF-8";
.asdashdahsd {
  text-align: francoputo;
}

.grid {
  justify-items: center;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  padding: 0;
}

.grid__elemento {
  margin: 0;
  width: 100%;
  padding: 4rem;
}

.particion {
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  background-color: #e4e3e3;
}

.particion div {
  width: 100%;
  height: auto;
}

.particion__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 2rem 1rem;
}

.particion__video iframe {
  width: 100%;
  height: auto;
}

.particion__componentes {
  padding-left: 2rem;
}

.particion__componentes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.particion__componentes h2 {
  text-align: left;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
  margin-top: 1rem;
}

.particion__componentes h3 {
  text-align: left;
  font-weight: 600;
  margin-bottom: 4rem;
}

.particion__componentes p {
  text-align: justify;
  margin: 1rem 3rem 1rem 0rem;
}

.particion__componentes section {
  margin: 5rem 3rem 2rem 0;
}

.particion__componentes button {
  border: 0.1rem solid #000;
  padding: 1rem 4rem;
  background-color: #ffffff;
  cursor: pointer;
}

.boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

@media (min-width: 480px) {
  .particion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .particion__video iframe {
    width: 100%;
  }
  .grid__elemento {
    margin: 1rem;
    padding: 1rem;
  }
  .particion {
    margin: 1rem 0 0 0;
  }
  .boton {
    margin: 1rem;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .particion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.titulo__h2 {
  font-size: 3rem;
  text-decoration: underline;
}

.proceso {
  width: 100%;
  margin: none;
}

.carousel__inner__div {
  color: #fff;
  font-weight: bold;
}

/* Animaciones en Proyectos */
.titulo__h2 {
  width: 100%;
  height: auto;
  -webkit-animation-name: transparency;
          animation-name: transparency;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes transparency {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes transparency {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/*                  NAV BAR                */
.navbar a:hover {
  text-decoration: underline;
}

.navbar a:focus {
  border: 0.1rem solid #000;
}

/*                 Body Main              */
.nav__proyectos__dropdown {
  position: relative;
}

.nav__proyectos__dropdown div {
  position: relative;
  z-index: 100;
}

.titulo {
  padding: 1rem;
  margin: 1rem;
}

.titulo h1 {
  font-size: 5rem;
}

/*Animación en el Body Main*/
.titulo__h1 {
  width: 100%;
  height: auto;
  -webkit-animation-name: transparencyandsize;
          animation-name: transparencyandsize;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes transparencyandsize {
  0% {
    width: 0%;
    opacity: 0%;
  }
  40% {
    width: 100%;
  }
  50% {
    opacity: 100%;
    width: 100%;
  }
  60% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes transparencyandsize {
  0% {
    width: 0%;
    opacity: 0%;
  }
  40% {
    width: 100%;
  }
  50% {
    opacity: 100%;
    width: 100%;
  }
  60% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
/*# sourceMappingURL=home.css.map */