
.contacto__h2__div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacto__h2{
    background-color: #ee6c4d;
    border: solid #111111 2px;
    padding: 1rem;
    margin: 1.5rem;
}

.contacto h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25rem;
}

.contacto__h2__fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: #ee6c4d;
}

.contacto__h2__fieldset__label{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.contacto__h2__fieldset__input{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5rem;
    margin: .5rem;
}

.contacto__h2__fieldset__input p{
    padding-left: 1rem;
    margin-right: 1rem;
}

#si{
    align-self: center;
}

.contacto__h2__fieldset__select{
    margin-bottom: 1rem;
}

#trabajo{
    margin-bottom: 1rem;
    padding: .5rem;
}

#name{
    padding: .5rem;
}

#lastname{
    padding: .5rem;
}

#email{
    padding: .5rem;
}

.contacto__h2__fieldset__label3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: .5rem;
}

.contacto__h2__fieldset__label3 label{
    border: 1px solid #000;
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 1rem 10rem;
}

.contacto__h2__fieldset__label3__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.contacto__h2__fieldset__label3 input{
    margin: 1rem;
    padding: .7rem;
}

/* Body Footer */
#pie{
    background-color:#145DA0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    position: static;
    bottom: 0%;
}
#pie p{
    display: inline-block;
    justify-self: center;
    text-align: center;

}