

/* Body Footer */
#pie{
    background-color:#145DA0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    position: static;
    bottom: 0%;
}
#pie p{
    display: inline-block;
    justify-self: center;
    text-align: center;

}